<div class="container">
  <ol class="breadcrumb">
    <li class="active">Inicio</li>
  </ol>
  <div class="container">
    <div class="row">
      <div class="col-md-6 home">
        <h3>Bienvenidos a</h3>
        <h1>Invoice Generator</h1>
        <ul>
          <li>Genera Facil y Rapido tus cuentas de cobro.</li>
          <br>
          <li>Guarda tus cuentas de cobro y usalas cuando las necesites.</li>
        </ul>
      </div>
      <div class="col-md-6">
        <img src="https://tse2.mm.bing.net/th?id=OIP.Md69def82f006cd696cf0397cbcce0a7ao0&pid=15.1&P=0&w=274&h=169" alt="lapicero">
      </div>
    </div>
  </div>
</div>